<style>
    .form-control{
       margin: 5px;
    }
    
    .styled-checkbox {
      position: absolute;
      opacity: 0;
    }
    .styled-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
    .styled-checkbox + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
    }
    .styled-checkbox:hover + label:before {
      background: #f35429;
    }
    .styled-checkbox:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    .styled-checkbox:checked + label:before {
      background: #f35429;
    }
    .styled-checkbox:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
    .styled-checkbox:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
    .styled-checkbox:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    
    
    .unstyled {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    
    li {
      margin: 20px 0;
    }
    
    .centered {
      width: 300px;
      margin: auto;
    }
    
    .title {
      text-align: center;
      color: #4571ec;
    }
    
    .Medical-history table tr th{
     padding: 10px;
     border: 1px solid #655f5f;
    
    }
    
    .Medical-history table tr td{
     padding: 10px;
     border: 1px solid #655f5f;
    
    }
    
    
    .gender [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    .gender [type="radio"]:checked + label,
    .gender [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
    }
    .gender [type="radio"]:checked + label:before,
    .gender [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }
    .gender [type="radio"]:checked + label:after,
    .gender [type="radio"]:not(:checked) + label:after {
      content: '';
        width: 12px;
        height: 12px;
        background: #f35429;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .gender [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    .gender [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .gender p{
      margin-right: 10px;
    }
    
    .gender{
      padding: 5px 20px;
    color: #ffffff;
    background-color: #37317a;
    border: 2px solid #342e73;
    font-family: Roboto;
    border-radius: 0.5rem;
    margin: 5px;
    }
    
    .other-details{
    
       padding: 0.75rem 1.125rem;
        color: #ffffff;
        background-color: #37317a;
        border: 2px solid #342e73;
        font-family: Roboto;
        border-radius: 0.5rem;
         margin: 10px;
    }

    .full-name-inputs h6{
      margin-top: 20px;
    }
    
    </style>
    <div class="row">
    <nb-card>
      <nb-card-header>Add Coach Details</nb-card-header>
      <nb-card-body>
        
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="First Name" class="form-control"/>
          </div>
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Last Name" class="form-control"/>
          </div>
        </div>
        <label _ngcontent-c10="" style="margin-left: 10px;">Address:</label>
        <div class="input-group has-person-icon">
          <input type="text" placeholder="Address Line 1" class="form-control"/>
        </div>
        <div class="input-group has-person-icon">
          <input type="text" placeholder="Address Line 2" class="form-control"/>
        </div>
        <div class="input-group has-person-icon">
          <input type="text" placeholder="City" class="form-control"/>
        </div>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="State" class="form-control"/>
          </div>
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Zip Code" class="form-control"/>
          </div>
        </div>
        <div class="input-group has-person-icon">
          <input type="text" placeholder="Country" class="form-control"/>
        </div>
        <div class="gender">
        <label>Gender</label>
             <div class="row">
                <form _ngcontent-c10="" novalidate="" class="ng-untouched ng-pristine ng-valid" style="
                display: inherit;margin-left: 5%;">
                    <p>
                      <input type="radio" id="test1" name="radio-group" checked>
                      <label for="test1">Male</label>
                    </p>
                    <p>
                      <input type="radio" id="test2" name="radio-group">
                      <label for="test2">Female</label>
                    </p>
                    <p>
                      <input type="radio" id="test3" name="radio-group">
                      <label for="test3">Other</label>
                    </p>
                  </form> 
             </div>
       </div>
       <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Phone" class="form-control"/>
          </div>
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Email" class="form-control"/>
          </div>
        </div>

        <div class="gender">
            <label>Document Upload</label>
            <div class="row full-name-inputs">
                <div class="col-sm-6 input-group">
                  <h6>Upload Certificate:</h6><input type="file" placeholder="" class="form-control"/>
                </div>
                <div class="col-sm-6 input-group">
                    <h6>Upload Resume:</h6><input type="file" placeholder="" class="form-control"/>
                </div>
              </div>
              <div class="row full-name-inputs">
                  <div class="col-sm-6 input-group">
                      <h6>Upload PAN:</h6> <input type="file" placeholder="" class="form-control"/>
                  </div>
                  <div class="col-sm-6 input-group">
                      <h6>Upload Adhar Card:</h6> <input type="file" placeholder="" class="form-control"/>
                  </div>
                </div>
           </div>

           <div class="gender">
              <label>Bank Details</label>
              <div class="row full-name-inputs">
                  <div class="col-sm-6 input-group">
                    <input type="text" placeholder="Bank Name" class="form-control"/>
                  </div>
                  <div class="col-sm-6 input-group">
                    <input type="text" placeholder="Bank Account Number" class="form-control"/>
                  </div>
                </div>
                <div class="row full-name-inputs">
                    <div class="col-sm-6 input-group">
                      <input type="text" placeholder="IFSC Code" class="form-control"/>
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" placeholder="Branch" class="form-control"/>
                    </div>
                  </div>
             </div>

             <button _ngcontent-c12="" _ngcontent-c10="" _ngcontent-c14="" _ngcontent-c21="" class="btn btn-hero-success btn-demo" style="
             /* margin-left: 65%; */
             padding: 5px;
             margin-top: 10px;
             float:  right;
             margin-right: 20px;
             ">Submit</button>
      </nb-card-body>
    </nb-card>
    </div>
    