<style>

    .container{
      
      margin: 0 auto;
    }
  
    ul.tabs{
      margin: 0px;
      padding: 0px;
      list-style: none;
    }
    ul.tabs li{
      background: none;
      color: #b9b1b1;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }
  
    ul.tabs li.current{
      background: #01d99c;
      color: #FFF;
    }
  
    .tab-content{
        display: none;
    background: #ffffff;
    padding: 20px;
    }
  
    .tab-content.current{
      display: inherit;
    }

           .page{
            max-width: 65em;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #383535;
        }
        table th,
        table td{
          text-align: left;
        }
        table.layout{
          width: 100%;
          border-collapse: collapse;
        }
        table.display{
          margin: 1em 0;
        }
        table.display th,
        table.display td{
          border: 1px solid #B3BFAA;
          padding: .5em 1em;
        }
        
        table.display th{ background: #D5E0CC; }
        table.display td{     background: #333131; }
        
        table.responsive-table{
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
        }
        .layout{
            min-height: 50vh!important;
        }
        
        @media (max-width: 30em){
            table.responsive-table{
              box-shadow: none;  
            }
            table.responsive-table thead{
              display: none; 
            }
          table.display th,
          table.display td{
            padding: .5em;
          }
            
          table.responsive-table td:nth-child(1):before{
            content: 'Number';
          }
          table.responsive-table td:nth-child(2):before{
            content: 'Name';
          }
          table.responsive-table td:nth-child(3):before{
            content: 'Coach';
          }
          table.responsive-table td:nth-child(1),
          table.responsive-table td:nth-child(2),
          table.responsive-table td:nth-child(3)
          {
            padding-left: 25%;
          }
          table.responsive-table td:nth-child(1):before,
          table.responsive-table td:nth-child(2):before,
          table.responsive-table td:nth-child(3):before
          {
            position: absolute;
            left: .5em;
            font-weight: bold;
          }
          
            table.responsive-table tr,
            table.responsive-table td{
                display: block;
            }
            table.responsive-table tr{
                position: relative;
                margin-bottom: 1em;
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
            }
            table.responsive-table td{
                border-top: none;
            }
            table.responsive-table td.organisationnumber{
                background: #D5E0CC;
                border-top: 1px solid #B3BFAA;
            }
            table.responsive-table td.actions{
                position: absolute;
                top: 0;
                right: 0;
                border: none;
                background: none;
            }
        }
        
        .btn{
         
            padding:5px!important;
            font-size: 15px!important;
            line-height: 0.8!important;
          
        }

        .route_page_title{
            color: #7f7474;
    font-size: 18px;
    text-transform: uppercase;
   
    }

    .data-table-content select{
               padding: 10px;
               background: transparent;
               border-radius: 10px;
               color: #fff;
    }

    .data-table-content input{
               padding: 10px;
               background: transparent;
               border-radius: 10px;
               float: right;
               color: #fff;
               margin: 5px;
    }
  </style>
  
  <div class="container">
  
  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1" (click)="getCoachClientActive();">Active Clients</li>
    <li class="tab-link" data-tab="tab-2" (click)="getCoachClientDeactive();">In-Active Clients</li>
  
  </ul>
  
  <div id="tab-1" class="tab-content current">

      <label class="route_page_title">Active Clients List:</label>
      <div class="page">
         <div class="data-table-content">
             
             <input type="text" placeholder="search client" />
         </div>
         <table class="layout display responsive-table">
             <thead>
                 <tr>
                     <th>Client ID</th>
                     <th>Name</th>
                   
                     <th>Actions</th>
                 </tr>
             </thead>
             <tbody>
         
                 <tr *ngFor="let objectCoachClient of objectCoachClient">
                     <td class="organisationnumber">{{objectCoachClient._id}}</td>
                     <td class="organisationname">{{objectCoachClient.firstName}}{{objectCoachClient.lastName}}</td>
                    
                     <td class="actions">
                        <label class="btn btn-info btn-xs remove-item" title="Remove" (click)="redirect(objectCoachClient._id)">Info</label>
                         
                         
                     </td>
                 </tr>
         
                
             </tbody>
         </table>


         </div>

      
  </div>
  <!-- <div id="tab-2" class="tab-content">

      <label class="route_page_title">In-Active Clients List:</label>
      <div class="page">
         <div class="data-table-content">
             
             <input type="text" placeholder="search client" />
         </div>
         <table class="layout display responsive-table">
            <thead>
                <tr>
                    <th>Client ID</th>
                    <th>Name</th>
                  
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
        
                <tr *ngFor="let objectCoachClient of objectCoachClient">
                    <td class="organisationnumber">{{objectCoachClient._id}}</td>
                    <td class="organisationname">{{objectCoachClient.firstName}}{{objectCoachClient.lastName}}</td>
                   
                    <td class="actions">
                         <label class="btn btn-info btn-xs remove-item" title="Remove" (click)="redirect(objectCoachClient._id)">Info</label>
                        
                        
                    </td>
                </tr>
        
                
        
            </tbody>
        </table>

         </div>

    
  </div> -->
  
  
  </div><!-- container -->
  
  
  