<style>
  .form-control{
     margin: 5px;
  }
  
  .styled-checkbox {
    position: absolute;
    opacity: 0;
  }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  .styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
  }
  .styled-checkbox:hover + label:before {
    background: #f35429;
  }
  .styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  .styled-checkbox:checked + label:before {
    background: #f35429;
  }
  .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }
  .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  
  .unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    margin: 20px 0;
  }
  
  .centered {
    width: 300px;
    margin: auto;
  }
  
  .title {
    text-align: center;
    color: #4571ec;
  }
  
  .Medical-history table tr th{
   padding: 10px;
   border: 1px solid #655f5f;
  
  }
  
  .Medical-history table tr td{
   padding: 10px;
   border: 1px solid #655f5f;
  
  }
  
  
  .gender [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  .gender [type="radio"]:checked + label,
  .gender [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
  }
  .gender [type="radio"]:checked + label:before,
  .gender [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
  }
  .gender [type="radio"]:checked + label:after,
  .gender [type="radio"]:not(:checked) + label:after {
    content: '';
      width: 12px;
      height: 12px;
      background: #f35429;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  .gender [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  .gender [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  
  .gender p{
    margin-right: 10px;
  }
  
  .gender{
    padding: 5px 20px;
  color: #ffffff;
  background-color: #37317a;
  border: 2px solid #342e73;
  font-family: Roboto;
  border-radius: 0.5rem;
  margin: 5px;
  }
  
  .other-details{
  
     padding: 0.75rem 1.125rem;
      color: #ffffff;
      background-color: #37317a;
      border: 2px solid #342e73;
      font-family: Roboto;
      border-radius: 0.5rem;
       margin: 10px;
  }
  
  </style>
  <div class="row">
  <nb-card>
    <nb-card-header>Refund Payments</nb-card-header>
    <nb-card-body>
    
     
      <div class="input-group has-person-icon">
        <input type="text" placeholder="Client Id or Name" class="form-control"/>
      </div>
     
      <div class="input-group has-person-icon">
        <input type="text" placeholder="Refund Amount" class="form-control"/>
      </div>

      <div class="form-group">
        <label>For Plan</label>
        <select class="form-control">
          <option>4 Weeks ($100 USD)</option>
          <option>8 Weeks ($100 USD)</option>
          <option>12 Weeks ($0 USD)</option>
        
        </select>
      </div>
      <div class="input-group has-person-icon">
        <input type="text" placeholder="Reason" class="form-control"/>
      </div>
      <button _ngcontent-c10="" _ngcontent-c21="" class="btn btn-hero-success btn-demo" style="
    margin-left: 65%;
    padding: 5px;
    margin-top: 5px;
    ">Refund</button>
    </nb-card-body>
  </nb-card>

  
  </div>
  