<style>
  .container{
      
      margin: 0 auto;
    }
  
    ul.tabs{
      margin: 0px;
      padding: 0px;
      list-style: none;
    }
    ul.tabs li{
      background: none;
      color: #b9b1b1;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }
  
    ul.tabs li.current{
      color: #151313;
      border-bottom: 3px solid #4CAF50;
    }
  
    .tab-content{
      display: none;
      background: #ffffff;
      padding: 20px;
    }
  
    .tab-content.current{
      display: inherit;
    }
  
    .profile_info{
      box-shadow: 0px 0px 5px 2px #a29999;
      width: 400px;
      padding: 20px;
      color: #1f1e1e;
      margin: 20px;
    }
  
    .profile_info table tr{
     margin: 10px;
    }
  
     .Acc_details table tr{
     margin: 10px;
    }
  
    .Acc_details{
      box-shadow: 0px 0px 5px 2px #a29999;
      width: 400px;
      padding: 20px;
      color: #1f1e1e;
      margin: 20px;
    }
  
    .profile_info header{
      margin: -20px;
      padding: 10px;
      background: #E91E63;
      color: #fff;
      text-align: center;
      font-size: 22px;
    }
  
     .Acc_details header{
      margin: -20px;
      padding: 10px;
      background: #312d2e;
      color: #fff;
      text-align: center;
      font-size: 22px;    
    }
  
    .info_body{
        margin-top: 30px;
    }
  
    .dashboard_Body{
      margin-left: 150px;
      margin-right: 200px;
    }
  
    .client_diets{
      text-align: center;
      margin-top: 20px;
      box-shadow: 0px 0px 12px 2px #736f6f;
      padding: 30px;
    }

    .cpc-table .cpc-table--headings {
    color: #fff;
  }

  .cpc-table .cpc-table--headings tr th {
    background-color: #333333;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.06em;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
  }

  .cpc-table .cpc-table--body tr {
    transition: 1s ease;
  }

  .cpc-table .cpc-table--body tr td {
    color: #222f3e;
    font-size: 1em;
    /* font-weight: 100; */
    padding: 5px 2em;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid;
    font-family: Exo;
  }

  .cpc-table .cpc-table--body tr td:nth-child(1) {
    text-transform: uppercase;
  }

  .cpc-table .cpc-table--body tr td .stars span {
    cursor: pointer;
  }

  .cpc-table .cpc-table--body tr:last-child td {
    border: none;
  }

  .cpc-table .cpc-table--body tr:hover {
    background-color: white;
  }

    input{
               padding: 10px;
               background: transparent;
               border-radius: 10px;
               /* float: right; */
               color: #bfb8b8;
    }

</style>
<div class="col-md-8 col-sm-8">      
  <div class="client_diets">
                <h4>Diets List</h4>
                <hr/>
          <div class="container">

                  <!-- <ul class="tabs">
                    <li class="tab-link current" data-tab="tab-1">PENDING</li>
                    <li class="tab-link" data-tab="tab-2">OVERDUE</li>
                    
                  
                  </ul> -->
                  <hr style="margin-top: 0px;border-top: 2px solid rgba(0, 0, 0, 0.1);"/>
                  <input type="text" placeholder="search Diet" [(ngModel)]="searchDiet"/>
                  <div id="tab-1" class="tab-content current General">
                      <!-- <ul class="client_list">
                          <li class="list_Item" >
                              <!-- *ngFor="let objectDietList of objectDietList" --
                         
                            <label style="
                            color: black;
                        ">{{objectDietList.dietPlanName}}</label>

                        <label style="
                        color: black;
                    ">{{objectDietList.header}}</label>
                       </li>
                            
                          </ul> -->
                         
                           <table class="cpc-table">
                                            <thead class="cpc-table--headings">
                                              <tr>
                                                <th rowspan="2">DietPlanName</th>
                                                <th rowspan="2">Calories</th>
                                                <th rowspan="2">DietType</th>
                                                <th rowspan="2">DietPreference</th>
                                                <th rowspan="2">Action</th>
                                              </tr>
                                            </thead>
                                            <tbody class="cpc-table--body">
                                  
                                              <tr *ngFor="let objectDietList of objectDietList | filter:searchDiet | paginate: { itemsPerPage: 10, currentPage: p ,totalItems: objectGetCoachListCount}">
                                                  <!-- *ngFor="let objectDietList of objectDietList" -->
                                                <td>{{objectDietList.dietPlanName}}</td>
                                                <td>{{objectDietList.rangeOfCalories}}</td>
                                                <td>{{objectDietList.dietType}}</td>
                                                <td>{{objectDietList.dietPreference}}</td>
                                                <td>
                                                  <a (click)="AssignDiet(objectDietList._id);" class="btn btn-info">Assign</a>
                                                  
                                                </td>
                                  
                                              </tr>
                                  
                                            </tbody>
                                          </table>
                                        
                      
                  </div>
                  <pagination-controls (pageChange)="pageChange(p = $event)"></pagination-controls>

  </div>

</div>
</div> 