<style>


.card {
  width: 275px;
    margin: 20px;
    padding: 40px;
}

.card.open {
  height: 200px;
  background: #ffffff;
}


.card h4{
  color:#fff;
  
}

.card h5{
  color:#FFF;
  
}

.cards{
  display: flex;
    flex-wrap: wrap;
}
</style>

<div class="all">
  <div class="cards">
    <div class="card row shadow-1" style="background: #009688;">
     
          <h4>Total Earnings</h4>
      
           <h5>$1400000</h5>
         
    </div>
    <div _ngcontent-c10="" class="card shadow-1" style="
    background: #00BCD4;">
      <h4>Tax Deduction</h4>
      <h5>$140</h5>
    </div>
    <div _ngcontent-c10="" class="card shadow-1" style="
    background: #03A9F4;
">
      <h4>Net Income</h4>
      <h5>$1360000</h5>
    </div>
   
  </div>
</div>