<!-- <style>

  .container{
    
    margin: 0 auto;
  }

  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul.tabs li{
    background: none;
    color: #b9b1b1;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  ul.tabs li.current{
    background: #01d99c;
    color: #FFF;
  }

  .tab-content{
    display: none;
    background: #bfa7a7;
    padding: 20px;
  }

  .tab-content.current{
    display: inherit;
  }

  .client-Jumbotron{
    background: #3a53dc;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border: 1px solid #fff;
  }

  .client-column{
    border-right: 1px solid #fff;
  }

  .General{
    text-align: center;

  }

  .General-content{
    padding: 10px;
  }

  

.cpc-table {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  width: 75%;
  height: 70%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.5);
}
.cpc-table .cpc-table--headings {
  color: #fff;
}
.cpc-table .cpc-table--headings tr th {
  background-color: #333333;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.06em;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}
.cpc-table .cpc-table--body tr {
  transition: 1s ease;
}
.cpc-table .cpc-table--body tr td {
  color: #222f3e;
  font-size: 1em;
  font-weight: 100;
  padding: 5px 2em;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid;
}
.cpc-table .cpc-table--body tr td:nth-child(1) {
  text-transform: uppercase;
}
.cpc-table .cpc-table--body tr td .stars span {
  cursor: pointer;
}
.cpc-table .cpc-table--body tr:last-child td {
  border: none;
}
.cpc-table .cpc-table--body tr:hover {
  background-color: white;
}

  .btn{
    padding: 0px!important;
    margin: 5px!important;
  }     

  .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

</style>

<div class="client-Jumbotron">
  <div class="row">
       <div class="col-md-4 col-sm-4 client-column">
            <img src="" alt=" " />
            <h6>Akil Sayyad</h6>
       </div>
       <div class="col-md-4 col-sm-4 client-column">
           <div class="row">
              <div class="col-md-6 col-sm-6">
                   <h5>0</h5>
                  <h6>Fat (%)</h6>
               </div>
               <div class="col-md-6 col-sm-6">
                  <h5>0</h5>
                  <h6>waist</h6>
                </div>

           </div>

       </div>
       <div class="col-md-4 col-sm-4">
          <h5>2</h5>
          <h6>Diet Due in (Day)</h6>
       </div>
      
  </div>

</div>

<div class="container">

<ul class="tabs">
  <li class="tab-link current" data-tab="tab-1">General</li>
  <li class="tab-link" data-tab="tab-2">Progress</li>
  <li class="tab-link" data-tab="tab-3">Diet</li>
  <li class="tab-link" data-tab="tab-4">Workout</li>
  <li class="tab-link" data-tab="tab-5">Notes</li>
  <li class="tab-link" data-tab="tab-6">Info Sheet</li>

</ul>

<div id="tab-1" class="tab-content current General">
    <div class="row General-content">
        <div class="col-md-6 col-sm-6">
            <!-- <h5>{{objectCoachClientDash.age}}</h5> --
          <h6>Age</h6>
        </div>
        <div class="col-md-6 col-sm-6">
            <h5>2018/10/19</h5>
            <h6>End Date</h6> 
 
        </div>
      
   </div> 
   
   <div class="row">
      <div class="col-md-6 col-sm-6">
          <h5>{{objectCoachClientDash.phone}}</h5>
          <h6>Contact</h6>
      </div>
      <div class="col-md-6 col-sm-6">
          <h5>{{objectCoachClientDash.choosePlan}}</h5>
          <h6>Package</h6>

      </div>
    
 </div>   
   
    
</div>
<div id="tab-2" class="tab-content">

  
  
</div>

<div id="tab-3" class="tab-content">
    <table class="cpc-table">
        <thead class="cpc-table--headings">
          <tr>
            <th rowspan="2">Start Date</th>
            <th rowspan="2">End Date</th>
            <th rowspan="2">Name</th>
             <th rowspan="2">Calaries</th>
             <th rowspan="2">Action</th>
          </tr>
        </thead>
        <tbody class="cpc-table--body">
          <tr *ngFor="let objectClientAssignedDiet of objectClientAssignedDiet">
            <td>{{objectClientAssignedDiet.startDate}}</td>
            <td>{{objectClientAssignedDiet.endDate}}</td>
            <td>Xyz</td>
            <td>22.00</td>
            <td><a href="#/pages/diet-tool" class="btn btn-info">Edit</a><a href="" class="btn btn-danger">Delete</a></td>
          </tr>
          
        </tbody>
      </table>
  
  
</div>

<div id="tab-4" class="tab-content">
    <table class="cpc-table">
        <thead class="cpc-table--headings">
          <tr>
            <th rowspan="2">Select Plan</th>
            <th rowspan="2">Workout</th>
            <th rowspan="2">Upload</th>
           
             <th rowspan="2">Action</th>
          </tr>
        </thead>
        <tbody class="cpc-table--body">
          <tr>
            <td><input type="checkbox" /></td>
            <td>Beginner</td>
            <td><input type="file" /></td>
            <td><a href="" class="btn btn-info">Assign</a></td>
          </tr>
          <tr>
           
              <td><input type="checkbox" /></td>
              <td>Expert</td>
              <td><input type="file" /></td>
              <td><a href="" class="btn btn-info">Assign</a></td>
            
          </tr>
          <tr>
              <td><input type="checkbox" /></td>
            <td>Intermediate</td>
            <td><input type="file" /></td>
            <td><a href="" class="btn btn-info">Assign</a></td>
          </tr>
         
        </tbody>
      </table>
  
  
</div>

<div id="tab-5" class="tab-content note">
  <label>Write Note for Client:</label><br/>
  <textarea placeholder=""></textarea><br/>
  <a href="" class="btn btn-success">Save</a>
  
  
</div>

<div id="tab-6" class="tab-content info_sheet">

   
    <div class="container">
          <div class="row">
          
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
       
       
              <div class="panel panel-info" >
                <div class="panel-heading">
                  <label class="">{{objectCoachClientDash.firstName}} 
                    {{objectCoachClientDash.lastName}}</label>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
                    
                   
                    <div class=" col-md-9 col-lg-9 "> 
                      <table class="table table-user-information">
                        <tbody>
                          
                          <tr>
                            <td>Date of Birth</td>
                            <td>01/24/1988</td>
                          </tr>
                        
                        
                                 <tr>
                            <td>Gender</td>
                            <td>{{objectCoachClientDash.gender}}</td>
                          </tr>
                            <tr>
                            <td>Home Address</td>
                            <td>{{objectCoachClientDash.address}}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td><a href="mailto:{{objectCoachClientDash.email}}">{{objectCoachClientDash.email}}</a></td>
                          </tr>
                          <tr>
                            <td>Phone Number</td>
                            <td>{{objectCoachClientDash.phone}}
                            </td>
                          </tr>    
                         
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                     
                
              </div>                     
    
            </div>
          </div>
        </div>
  
</div>

</div>
 -->

<style>
  .container {

    margin: 0 auto;
  }

  ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  ul.tabs li {
    background: none;
    color: #b9b1b1;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  ul.tabs li.current {
    color: #151313;
    border-bottom: 3px solid #4CAF50;
  }

  .tab-content {
    display: none;
    background: #ffffff;
    padding: 20px;
  }

  .tab-content.current {
    display: inherit;
  }

  ul.tabs_2 {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  ul.tabs_2 li {
    background: none;
    color: #b9b1b1;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  ul.tabs_2 li.current {
    /* background: #01d99c; */
    color: #2d2b2b;
    border-bottom: 3px solid #4CAF50;
  }

  .tab-content_2 {
    display: none;
    background: transparent;
    padding: 15px;
  }

  .tab-content_2.current {
    display: inherit;
  }

  .client-Jumbotron {

    text-align: center;
    padding: 10px;
    margin: 5px;
    /* border: 1px solid #fff; */
  }

  .client-column {
    border-right: 1px solid #fff;
  }

  .General {
    text-align: center;

  }

  .General-content {
    padding: 10px;
  }



  .cpc-table {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    width: 75%;
    height: 70%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .cpc-table .cpc-table--headings {
    color: #fff;
  }

  .cpc-table .cpc-table--headings tr th {
    background-color: #333333;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.06em;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
  }

  .cpc-table .cpc-table--body tr {
    transition: 1s ease;
  }

  .cpc-table .cpc-table--body tr td {
    color: #222f3e;
    font-size: 1em;
    font-weight: 100;
    padding: 5px 2em;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid;
  }

  .cpc-table .cpc-table--body tr td:nth-child(1) {
    text-transform: uppercase;
  }

  .cpc-table .cpc-table--body tr td .stars span {
    cursor: pointer;
  }

  .cpc-table .cpc-table--body tr:last-child td {
    border: none;
  }

  .cpc-table .cpc-table--body tr:hover {
    background-color: white;
  }

  .btn {
    padding: 0px !important;
    margin: 5px !important;
  }

  .user-row {
    margin-bottom: 14px;
  }

  .user-row:last-child {
    margin-bottom: 0;
  }

  .dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
  }

  .dropdown-user:hover {
    cursor: pointer;
  }

  .table-user-information>tbody>tr {
    border-top: 1px solid rgb(221, 221, 221);
  }

  .table-user-information>tbody>tr {
    border-top: 0;
    color: #676363;
  }


  .table-user-information>tbody>tr>td {
    border-top: 0;
  }

  .toppad {
    margin-top: 20px;
  }



  li.list_Item {
    list-style-type: none;
    clear: left;
    margin: 20px;
  }

  .list_Item img {
    float: left;
    margin-right: 15px;
    background: #8e8888;
    width: 70px;
    height: 60px;
    border-radius: 28px;
  }

  .list_Item label {
    color: #292727;
    margin: 16px;
  }



  .client_list_box h6 {
    margin: 10px;
    border-bottom: 1px solid #423f3f;
  }

  #progress-date {
    background: transparent;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
  }

  .measurement {
    background: #565050;
    width: 62%;
    padding: 5px;
  }

  .measurement_images {
    display: flex;
    flex-wrap: wrap;
  }

  .measurement_images img {
    width: 60%;
  }

  .image_value {
    width: 20%;
    height: 20%;
  }

  .progress-report {
    border-bottom: 2px solid #908989;
    margin-bottom: 10px;
  }

  .slide input {
    background: #1d1717f0;
    padding: 8px;
    border: 2px solid #8BC34A;
    border-radius: 5px;
  }
</style>

<div class="row" style="box-shadow: 0px 0px 5px 2px #afa7a7;margin: -20px;padding: 15px;">

  <div class="col-md-3 col-sm-3">
    <div class="client_list_box" style="border-right: 2px solid #b7b4b4;">
      <input type="text" class="search_client" placeholder="Search" [(ngModel)]="searchClient">
      <ul class="tabs_2">
        <li class="tab-link_2 current" data-tab="tab_2-1" (click)="getCoachClientActive();">Active</li>
        <li class="tab-link_2" data-tab="tab_2-2" (click)="getCoachClientDeactive();">In Active</li>
      </ul>

      <h6>Next Month (0)</h6>
      <h6>This Month (0)</h6>
      <h6>Previous Month (12)</h6>

      <div id="tab_2-1" class="tab-content_2 current">

        <ul class="client_list">
          <li class="list_Item" *ngFor="let objectCoachClient of objectCoachClient | filter:searchClient" (click)=" getClientID(objectCoachClient._id);">
            <img src="" alt="" />
            <label>{{objectCoachClient.firstName}} {{objectCoachClient.lastName}}</label>
          </li>

        </ul>

      </div>

      <div id="tab_2-2" class="tab-content_2">
        <ul class="client_list">
          <li class="list_Item" *ngFor="let objectCoachClient of objectCoachClient" (click)=" getClientID(objectCoachClient._id);">
            <img src="" alt="" />
            <label>{{objectCoachClient.firstName}} {{objectCoachClient.lastName}}</label>
          </li>

        </ul>

      </div>
    </div>

  </div>


  <div class="col-md-7 col-sm-7" style="border-right: 1px solid #dcd8d8;" >


    <div class="client-Jumbotron">
      <div class="row">
        <div class="col-md-4 col-sm-4 client-column" style="margin: -10px;background: #e91e63de;padding: 40px;">
          <img src="" alt=" " />
          <h6 style="color: white;font-size: 22px;">{{objectCoachClientDashDetails.firstName}} {{objectCoachClientDashDetails.lastName}}</h6>
        </div>
        <div class="col-md-4 col-sm-4 client-column" style="margin: -10px;background: #2196F3;padding: 40px;">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h5 style="color: white;font-size: 22px;">0</h5>
              <h6 style="color: white;font-size: 22px;">Fat (%)</h6>
            </div>
            <div class="col-md-6 col-sm-6">
              <h5 style="color: white;font-size: 22px;">0</h5>
              <h6 style="color: white;font-size: 22px;">waist</h6>
            </div>

          </div>

        </div>
        <div class="col-md-4 col-sm-4 client-column" style="margin: -10px;background:#4CAF50;padding: 40px;">
          <h5 style="color: white;font-size: 22px;">2</h5>
          <h6 style="color: white;font-size: 22px;">Diet Due in (Day)</h6>
        </div>

      </div>

    </div>

    <div class="container">

      <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">General</li>
        <li class="tab-link" data-tab="tab-2" (click)="getClientProgress();">Progress</li>
        <li class="tab-link" data-tab="tab-3" (click)="getAssignedDiet();">Diet</li>
        <li class="tab-link" data-tab="tab-4">Workout</li>

        <li class="tab-link" data-tab="tab-5">Info Sheet</li>

      </ul>
      <hr style="margin-top: 0px;border-top: 2px solid rgba(0, 0, 0, 0.1);" />

      <div id="tab-1" class="tab-content current General">
        <div class="row General-content">
          <div class="col-md-6 col-sm-6">
            <h5>{{objectCoachClientDashDetails.age}}</h5>
            <h6>Age</h6>
          </div>
          <div class="col-md-6 col-sm-6">
            <h5>{{objectCoachClientDashDetails.endDate}}</h5>
            <h6>End Date</h6>

          </div>

        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h5>{{objectCoachClientDashDetails.phone}}</h5>
            <h6>Contact</h6>
          </div>
          <div class="col-md-6 col-sm-6">
            <h5>{{objectCoachClientDashDetails.choosePlan}}</h5>
            <h6>Package</h6>

          </div>

        </div>


      </div>
      <div id="tab-2" class="tab-content">
        <input type="radio" name="Good" value="Good" [(ngModel)]="Good" (click)="postProgressStatus('Good');">
        <label style="
                color: black;
            ">GOOD</label>
        <input type="radio" name="Good" value="Moderate" [(ngModel)]="Moderate" (click)="postProgressStatus('Moderate');">
        <label style="
                color: black;
            ">MODERATE</label>
        <input type="radio" name="Good" value="Bad" [(ngModel)]="Bad" (click)="postProgressStatus('Bad');">
        <label style="
                color: black;
            ">BAD</label>

        <div class="progress-report" *ngFor="let objectClientProgress of objectClientProgress; let i =index;">



          <div class="row progress_date">

            <label style="color: black;">{{objectClientProgress.date}}</label>

          </div>


          <div class="row measurement">
            <div class="value">
              <label>Weight {{objectClientProgress.weight}} kg</label>

            </div>
            <div class="value">
              <label>Neck {{objectClientProgress.neck_size}} cm</label>

            </div>
            <div class="value">
              <label>Waist {{objectClientProgress.waist_size}} cm</label>

            </div>
            <div class="value">
              <label>Hips {{objectClientProgress.hip_size}} cm</label>

            </div>

          </div>
          <div class="measurement_images">
            <div class="image_value" *ngFor="let objectClientProgressImages of objectClientProgress.docUrls">
              <img src="http://23.95.106.215:4000/uploads/{{objectClientProgressImages}}" alt="measurement_images" />

            </div>


          </div>

        </div>

      </div>

      <div id="tab-3" class="tab-content">
        <table class="cpc-table">
          <thead class="cpc-table--headings">
            <tr>
              <th rowspan="2">Start Date</th>
              <th rowspan="2">End Date</th>
              <th rowspan="2">Name</th>
              <th rowspan="2">calories</th>
              <th rowspan="2">Action</th>
            </tr>
          </thead>
          <tbody class="cpc-table--body">

            <tr *ngFor="let objectClientAssignedDiett of objectClientAssignedDiet; let i = index;">

              <td>{{objectClientAssignedDiett.startDate}}</td>
              <td>{{objectClientAssignedDiett.endDate}}</td>
              <td>{{objectClientAssignedDiett.endDate}}</td>
              <td></td>
              <td>
                <a href="#/pages/diet-tool" class="btn btn-info">Edit</a>
                <a href="" class="btn btn-danger">Delete</a>
              </td>

            </tr>

          </tbody>
        </table>


      </div>

      <div id="tab-4" class="tab-content">
        <table class="cpc-table">
          <thead class="cpc-table--headings">
            <tr>
              <th rowspan="2">Select Plan</th>
              <th rowspan="2">Workout</th>
              <th rowspan="2">Upload</th>

              <th rowspan="2">Action</th>
            </tr>
          </thead>
          <tbody class="cpc-table--body">
            <tr>
              <td>
                  <input type="radio" name="level" value="Beginner"  (click)="postWorkoutLevel('Beginner');">
              </td>
              <td>Beginner</td>
              <td>
                  <input type="file" placeholder="" class="form-control" id="file"
                  #fileupload [(ngModel)]="Beginner" name="Beginner" (change)="fileChange($event)"/>
              </td>
              <td>
                  <a  class="btn btn-info" (click)="postWorkoutFile($event);">Upload</a>
              </td>
            </tr>
            <tr>

              <td>
                  <input type="radio" name="level" value="Expert"  (click)="postWorkoutLevel('Expert');">
              </td>
              <td>Expert</td>
              <td>
                  <input type="file" placeholder="" class="form-control" id="file"
                  #fileupload [(ngModel)]="Expert" name="Expert" (change)="fileChange($event)"/>
              </td>
              <td>
                <a  class="btn btn-info" (click)="postWorkoutFile($event);">Upload</a>
              </td>

            </tr>
            <tr>
              <td>
                  <input type="radio" name="level" value="Intermediate" [(ngModel)]="Intermediate" (click)="postWorkoutLevel('Intermediate');">
              </td>
              <td>Intermediate</td>
              <td>
                  <input type="file" placeholder="" class="form-control" id="file"
                  #fileupload [(ngModel)]="Intermediate" name="Intermediate" (change)="fileChange($event)"/>
              </td>
              <td>
                  <a  class="btn btn-info" (click)="postWorkoutFile($event);">Upload</a>
              </td>
            </tr>

          </tbody>
        </table>


      </div>



      <div id="tab-5" class="tab-content info_sheet">


        <div class="container">
          <div class="row">

            <div class="">


              <div class="panel panel-info">

                <div class="panel-body">
                  <div class="row">


                    <div class="">
                      <table class="table table-user-information">
                        <tbody>

                          <tr>
                            <td>Date of Birth:</td>
                            <td>01/24/1988</td>
                          </tr>


                          <tr>
                            <td>Gender:</td>
                            <td>{{objectCoachClientDashDetails.gender}}</td>
                          </tr>
                          <tr>
                            <td>Home Address:</td>
                            <td>{{objectCoachClientDashDetails.address}}</td>
                          </tr>
                          <tr>
                            <td>Email:</td>
                            <td>
                              <a href="{{objectCoachClientDashDetails.email}}">{{objectCoachClientDashDetails.email}}</a>
                            </td>
                          </tr>
                          <tr>
                            <td>Phone Number:</td>
                            <td>{{objectCoachClientDashDetails.phone}}
                              <br>
                            </td>
                          </tr>
                          <tr>
                              <td>Height:</td>
                              <td>{{objectCoachClientDashDetails.height}}
                                <br>
                              </td>
                              <td>Weight:</td>
                              <td>{{objectCoachClientDashDetails.weight}}
                                <br>
                              </td>
                            </tr>

                            <tr>
                                <td>Activity Type:</td>
                                <td>{{objectCoachClientDashDetails.activityType}}
                                  <br>
                                </td>
                                <td>Body Type:</td>
                                <td>{{objectCoachClientDashDetails.bodyType}}
                                  <br>
                                </td>
                              </tr>
                              <tr>
                                  <td>Goal:</td>
                                  <td>{{objectCoachClientDashDetails.yourGoal}}
                                    <br>
                                  </td>
                                  <td>Medical History:</td>
                                  <td>{{objectCoachClientDashDetails.medicalHistory}}
                                    <br>
                                  </td>
                                </tr>
                                
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>
        </div>

      </div>



    </div>


    <div class="col-md-2 col-sm-2">

    </div>
  </div>
</div>