<style>
.diet-assign{
  background: #e0d8d8;
    padding: 20px;
    margin-left: 175px;
    width: 50%;
}

.diet-assign .head{
  background: #4CAF50;
    padding: 5px;
    margin: -20px; 
}

.diet-assign ul li{
  list-style-type: none;
    background: #2f2c2c;
    padding: 10px;
    margin: 10px;
}

.diet-assign img{
width: 50px;
height: 50px;
margin-left: 10px;
border-radius: 50%;
}
.diet-assign h5{
  margin-top: 30px;
    color: #353232;
}

.diet-assign label{
color: #fff;
}
.actives {
    border: 2px solid red;
}

.diet-assign input[type="text"]{
  width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #2b2525;
}
.date-assign input[type="date"]{
  padding: 5px;
    border-radius: 10px;
    border: 1px solid #2b2525;
}

.date-assign label{
  color:#292828;
}

.diet-send{
  margin-top: 10px;
    /* float: right; */
    margin-left: 40%;
    background: #4CAF50;
    padding: 5px;
}
</style>

<div class="diet-assign">
    <div class="head">
       <h3>Iss Bar Transformation Sarkar</h3>
    </div>
    <div>
        <h5>Client</h5>
        <input type="text" placeholder="search.." [(ngModel)]="searchClient" />
        <ul>
          <li id="xyzx" *ngFor="let objectClient of objectClient | filter:searchClient" (click)="getassignClientId(objectClient._id);">
            <img src="https://m.aceshowbiz.com/images/wennpic/tom-cruise-premiere-oblivion-03.jpg" alt="image_client" />
            <label>{{objectClient.firstName}} {{objectClient.lastName}}</label>
          </li>
         
        </ul>
        <hr/>
        <div class="row date-assign">
            <div class="col-md-6 col-sm-6">
                <label>Start Date</label>
                <input type="date" name="startDate" [(ngModel)]="startDate"/>
            </div>
            <div class="col-md-6 col-sm-6">
                <label>End Date</label>
                <input type="date" name="endDate" [(ngModel)]="endDate"/>
              </div>

        </div>

        <button class="diet-send" (click)="postAssignDietClient();">Save</button>
   
        
      </div>
   
       
  </div>
