<style>
  .diet-preview{
    background: #2f2c2c;
    margin: 10px;
    padding: 10px;
  }

   .preview-head h6,.preview-head h4,.preview-head h5{
    
    color: #423434;
  }

  ul.meal{
    display: flex;
   
  }

   ul.meal li{
    list-style-type: none;
    background: #655d5d;
    padding: 5px;
    border-left: 2px solid red;
    margin: 5px;
    width: 192px;
  }

  img{
    width: 60px;
    float: left;
  }

  .meal-no{
    background: #2196F3;
    padding: 8px;
    color: #fff;
  }
  #save_asign{
    margin-right: 20px;
    float: right;
    background: #673AB7;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    border: none;
    margin: 15px;
  }
  #back_button{
    background: #3d3780;
    padding: 5px;
    margin: 15px;
    color: #fff;
  }

  .note-instructions{
    background: #E91E63;
    padding: 15px;
    margin: -10px;
  }

  .note-instructions p{
   color: #131212;
  }

.nb-theme-cosmic .modal-header h1 {
    margin: 0;
    font-size: 15px!important;
}

.select-body {
  color: #000000;
    font-family: Sans-Serif;
    margin-left: 75%;
    /* margin: 0px; */
    margin-top: 20px;
 
}

.select-body a {
  text-decoration: none;
  color: #000000;
}

.select-body a:hover {
  color: #222222
}

/* Dropdown */

.select-body .dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
      /* display: inline-block; */
      border: 1px solid gray;
    border-radius: 4px;
    padding: 5px 30px 5px 5px;
    background-color: #ffffff;
    /* cursor: pointer; */
    /* white-space: nowrap; */
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.back-save{
  display: flex;
  flex-wrap: wrap;
}

</style>
<div class="diet-preview">
    <div class="back-save">
         <a id="back_button" class="btn btn=default">Back</a>
      <div class="select-body">   
         <label class="dropdown">

            <div class="dd-button">
              Save
            </div>
          
            <input type="checkbox" class="dd-input" id="test">
          
            <ul class="dd-menu">
              <li>Save Only</li>
              <li><a href="#/pages/diet-assign">Save and Send</a></li>
             
              <li>
              
              </li>
            </ul>
            
          </label>
        </div>
    </div>
    <div class="preview-head">
        <!-- <h5>Iss Bar Transformation Sarkar: Calories:1606</h5> -->
        
    </div>
    <div class="row">
         



      <input type="hidden" id="selected_day" id="selected_day" />
      <input type="hidden" id="selected_meal" id="selected_meal" />
      <ul class="Day_tab">
        <li *ngFor="let days of dietplanDay; let i = index"  id='{{"day_" + i}}'>Day {{i+1}}
     
        
  

        <ul class="Meal_tab">
          <li *ngFor="let meal of days; let i = index" style="color: red !important" id='{{"meal_" + i}}' (click)="selectMeal(number-1)">Meal {{i+1}}
         
            <!-- <label for="">Meal 01</label> -->
            <a class="meal-description" id="meal1" style="color: #0e0e0e;font-size: 30px;margin-left: 95%;" (click)="addNotes()">...</a>
            <ul class="assigned-meal">
              <li *ngFor="let selectedFood of meal.foodItems; let i = index" >
                <!-- <a (click)="ValueCalculation(selectedFood,i)"> -->
                  <!-- <a (click)=" DeleteValue(selectedFood)" style="color: #0c0c0c;margin-left: 95%;font-weight: bold;">X</a> -->
                  <label>{{selectedFood.foodName}}</label>
                  <label>Quantity: {{selectedFood.portion | number : '1.2-2'}} {{selectedFood.unit}}
                    calories:{{selectedFood.calories | number : '1.2-2'}}</label>
                <!-- </a> -->

                
              </li>
              <!-- <textarea *ngIf="showNotesText === true" id="meal-desc1" style="width: 98%;margin-left: 10px;" value="" placeholder="Add Note" [(ngModel)] ="MealNotes" (input)="postNotes()"></textarea> -->
            </ul>
           

<label>Notes: {{meal.notes}}</label>
         
        </li>
        </ul>
      </li>
      </ul>
        

    
     
   
  </div>
    <!-- <input type="button" (click)="mybill.open()" class="btn green" value="Bill" /> -->
    <!-- <div class="note-instructions">
      <h6>Note</h6>
      <p>Measurements Needs to be Uncooked</p>
      <h6>Additional Insructions</h6>
      <p>The rich aroma of the dish wafted down and beckoned you .You could not resist the</p>
      <h6>Warning</h6>
      <p>The rich aroma of the dish wafted down and beckoned you .You could not resist the</p>
    </div> -->

</div>



<!-- 


<!DOCTYPE html>
<html>
<head>
<title>Diet Pdf</title>



<style>

    body{
         padding: 2px;
    /* border: 1px solid #696464; */
    background: #dadada;
    }
header{
   margin: 10px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 3px 0px 0px black;
    position: relative;
    text-align: center;
}

.food_carts{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #9ea4a7;
    padding: 5px;
    border-left: 5px solid #4CAF50;
}

.food_cart{
    width: 50%;
    margin: -26px;
    padding-left: 35px;
}

.food_cart h5{
    font-size: 22px;
    color: #3a3636;
}
.body_div{
   margin: 10px;
    box-shadow: 0px 0px 15px 0px;
    padding: 15px;
}
footer{
       padding: 5px;
    /* border: 2px solid #504c4c; */
    color: #676363;
}

.Details{
         width: 500px;
    border-right: 1px solid #656060;
    margin-top: 30px;
}

.pdf_body{
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 11px -5px #4c4848;
}

table{
    border: 2px solid #a79c9c;
    margin: 30px;
    padding: 10px;
    border-left: 5px solid #4caf50;
}

table tr td{
   padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.break_meal{
 border-bottom: 3px dotted #908787!important;
}

.clear{
clear:left;
}
</style>
</head>

<body>
<div class="pdf_body">
<header>
       <h4 style="position: absolute;font-size: 20px;top: 0;">11/10/2018</h4>
        <h4 style="font-size: 25px;color: #4CAF50;
    ">Welcome to DietTool - Your complete fitness solution</h4>
  <img src="logo.png" alt="" style="width: 5%;position: absolute;top: 70px;left: 30px;box-shadow: 0px 0px 5px black;">
</header>
<div class="body_div">
    <div class="pdf_head">
        <div class="button">
                <a href="" style=" margin-left: 60px;font-size: 25px;text-decoration: none;
                color: #5d5959;">Back</a>
                <a href="" style="float: right;margin-right: 60px;font-size: 25px;text-decoration: none;color: #5d5959;
">Save</a>
        </div>
      <div class="Details">
      <label style="font-size: 32px;margin: 15px;color: #676161;">1300 cal veg diet
                         <br><span style="
    color: #908b8b;
    font-size: 25px;
    margin-left: 15px;
"> Calories: 1337 </span></label>
    </div>
  </div>  
        <hr/>
        <p style="font-size: 20px;margin: 30px;color: #211e1e!important;">
		<label style="font-weight: bold;">Disclaimer :</label> 
		This plan is not intended for the treatment or prevention of disease, nor as a substitute for medical
            treatment, nor as an alternative to medical advice. Use of the guidelines herein is at the sole choice and risk of the
            user. If you suffer from any medical illness, please consult your medical practitioner before starting the plan.</p> 
        
        <hr/>

        <h4 style="font-size: 22px;margin: 30px;color: #2196F3;">Day 1</h4>  
		<h4 style="font-size: 22px;margin: 30px;color: #2196F3;">Meal 1</h4>  	 
 <table width="900px" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3">mung beans</td>
    </tr>
    <tr>
        <td>portion: 40 gms</td>
        <td>calories: 143.52</td>
       
    </tr>
</table>

 <table width="900px" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3">mung beans</td>
    </tr>
    <tr>
        <td>portion: 40 gms</td>
        <td>calories: 143.52</td>
       
    </tr>
</table>

 <table width="900px" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3">mung beans</td>
    </tr>
    <tr>
        <td>portion: 40 gms</td>
        <td>calories: 143.52</td>
       
    </tr>
</table>

<div class="">
  <div class="">
   <img src="bulb1.png" alt="" class="img-responsive" style="width: 5%;margin-left: 30px;float: left;margin-bottom: 10px;/* padding-bottom: 10px; */">
	</div>
	<div class="">
      <p style="margin: 0px;font-size: 20px;">
	  Multivitamin (Revital H) + Vitamin C (Celin 500mg) + Fish oil capsules (1x 1000mg) Have ample water
              to start the day ,have apple cider vinegar 5ml diluted in water first thing in the morning . in case
              you want to have tea ,have it without table sugar . 2 cups of milk chai would be fine at the begining ,
              you can have black coffee or green tea . eggs mentioned in the meal can be cooked the way you
              prefer - boiled , scrambled , poached , omelette ,bhurji etc . If you are having boiled eggs have the
              butter In the other meals .</p>
     </div> 			  
  </div>  
    <div class="clear"></div>

<hr/ class="break_meal">

<h4 style="font-size: 22px;margin: 30px;color: #2196F3;">Meal 2</h4>  	 
 <table width="900px" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3">mung beans</td>
    </tr>
    <tr>
        <td>portion: 40 gms</td>
        <td>calories: 143.52</td>
       
    </tr>
</table>

 <table width="900px" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3">mung beans</td>
    </tr>
    <tr>
        <td>portion: 40 gms</td>
        <td>calories: 143.52</td>
       
    </tr>
</table>

 <table width="900px" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3">mung beans</td>
    </tr>
    <tr>
        <td>portion: 40 gms</td>
        <td>calories: 143.52</td>
       
    </tr>
</table>
	
  
  <div class="">
  <div class="">
  <img src="bulb1.png" alt="" class="img-responsive" style="width: 5%;margin-left: 30px;float: left;margin-bottom: 10px;/* padding-bottom: 10px; */">
	</div>
	<div class="">
      <p style="margin: 0px;font-size: 20px;">
	  Multivitamin (Revital H) + Vitamin C (Celin 500mg) + Fish oil capsules (1x 1000mg) Have ample water
              to start the day ,have apple cider vinegar 5ml diluted in water first thing in the morning . in case
              you want to have tea ,have it without table sugar . 2 cups of milk chai would be fine at the begining ,
              you can have black coffee or green tea . eggs mentioned in the meal can be cooked the way you
              prefer - boiled , scrambled , poached , omelette ,bhurji etc . If you are having boiled eggs have the
              butter In the other meals .</p>
     </div> 			  
  </div>  
  <div class="clear"></div>
<hr/ style="border-bottom: 3px dashed #908787!important;">
<footer>

        <h2>Note</h2>
        <h3> needs to be done uncooked.</h3>
        <h4>Additional Instructions</h4>
        <p> above mentioned values are approximate and may differ based on the food quality and brand "Herbs and
                spices you may use: turmeric, cinnamon, ginger, dill, parsley leaves, chili flakes, paprika, cayenne pepper,
                coriander, cumin, basil, rosemary, oregano, thyme, cardomoms, nettle leaf, phennel seeds, psyllium, bay leaf,
                fenugreek. *Water needs to be minumim 6-8 liters a day Drinks: black coffee / black tea / herbal tea / diet drinks
                / water. No milk, sugar or sugary drinks/milkshakes etc. Green vegetables: basically anything green, broccoli,
                green beans, asparagus, salads - you can add vegetables to any meal "
                </p>
				 <h4>Warning </h4>
                <p>If you are pregnant or a feeding mother, or has conditions such as diabetes, cholesterol, thyroid or any other
                medical issues; please book a consultation under a coach before trying out the diet plan at DietTool Diet PlansYou can alternatively sign up for a guided 12 week fitness program under one of our coaches at DietTool
                Fitness Coach</p>
		<hr/>

      <p style="
    font-size: 18px;
    color: #867e7e;
">Footer Text</p>		
</footer>
</div>
</div>
</body>

</html>


-->


