<style>
  .client-pic img{
    width: 100%;
  }
  
  .client-profile{
    margin: 20px;
      padding: 25px;
      border: 1px solid #fff;
  }
  
  .important-details{
    border-left:2px solid #fff; 
    margin: 12px;
    
  }
  
  .data-row{
      display: flex;
      flex-wrap: wrap;
  }
  
  .data-column{
      width: 165px;
      height: 130px;
      background: transparent;
      border: 1px solid #fff;
      margin: 15px;
      padding: 30px;
      padding-top: 70px;
      position: relative;
  }
  
  .data-column .data label{
      position: absolute;
      background: #4CAF50;
      padding: 10px;
      top: 0px;
      width: 163px;
      left: 0px;
      color: #fff;
  }

  .general-info label{
      margin: 5px;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
  }

  .data{
  color: #fff;
}

.fields{
  display: flex;
  border-bottom: 1px solid #fff;
  padding: 5px;
  flex-wrap: wrap;
  margin: 5px;
}

.fields label{

 margin-left: 10px;
}

  .coach-docs a{
    background: #009688;
  padding: 5px;
  margin: 10px;
  color: #fff;
  border-radius: 5px;
  }
  </style>
  <div><h4>My Profile</h4></div>
  <div class="client-profile">
  <div class="row">
    <div class="col-md-4 col-sm-4">
         <div class="row general-info">
             <label>Tushar Gadekar</label>
              <div class="client-pic">
                  <img src="http://www.wholemom.com/wp-content/uploads/2018/08/9-Man-Of-The-Year-Prize-Pack-Sweepstakes.jpg" alt="client_profile" class="img-responsive"/>
              </div> 
         </div>

    </div>
    <div class="col-md-8 col-sm-8">
        <div class="important-details">

            <div class="general-info-fields">
                <div class="fields">
                        <label>Address:</label>
                        <label>xyz</label>    
                </div>
                <div class="fields">
                        <label>Gender:</label>
                        <label>Male</label>  
                </div>
                <div class="fields">
                        <label>Email:</label>
                        <label>akil.mobicloud@gmail.com</label>
                </div>
                <div class="fields">
                        <label>Mobile:</label>
                        <label>7548451248</label>
                </div>
                
          </div>
            
        
        </div>
  
    </div>
  
  </div>
  </div>