<style>
.logo-containter a{
  text-decoration: none;
    font-size: 18px;
    color: #948f8f;
    margin-left: 30px;
}

.logo-containter a:active, .logo-containter a:focus{

    font-size: 18px;
    color: #171515;
    border-bottom: 2px solid #E91E63;
   
}
</style>

<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    
    <a href="/#/pages/dashboard">DASHBOARD</a>
    <a href="#/pages/diet-tool">DIET TOOL</a>
    <a href="#/pages/client-dashboard">CLIENTS</a>
    <a href="#/pages/diet-list">DIET LIST</a>
  
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>
</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  
  <nb-action>
    <nb-user [menu]="userMenu" [name]="user?.name" [picture]="user?.picture"></nb-user>
  </nb-action>
 
  
</nb-actions>
