<style>


    .page{
        max-width: 65em;
padding: 10px;
margin: 0 auto;
border: 1px solid white;
    }
    table th,
    table td{
      text-align: left;
    }
    table.layout{
      width: 100%;
      border-collapse: collapse;
    }
    table.display{
      margin: 1em 0;
    }
    table.display th,
    table.display td{
      border: 1px solid #B3BFAA;
      padding: .5em 1em;
    }
    
    table.display th{ background: #D5E0CC; }
    table.display td{ background: #fff; }
    
    table.responsive-table{
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    .layout{
        min-height: 50vh!important;
    }
    
    @media (max-width: 30em){
        table.responsive-table{
          box-shadow: none;  
        }
        table.responsive-table thead{
          display: none; 
        }
      table.display th,
      table.display td{
        padding: .5em;
      }
        
      table.responsive-table td:nth-child(1):before{
        content: 'Number';
      }
      table.responsive-table td:nth-child(2):before{
        content: 'Name';
      }
      table.responsive-table td:nth-child(3):before{
        content: 'Coach';
      }
      table.responsive-table td:nth-child(1),
      table.responsive-table td:nth-child(2),
      table.responsive-table td:nth-child(3)
      {
        padding-left: 25%;
      }
      table.responsive-table td:nth-child(1):before,
      table.responsive-table td:nth-child(2):before,
      table.responsive-table td:nth-child(3):before
      {
        position: absolute;
        left: .5em;
        font-weight: bold;
      }
      
        table.responsive-table tr,
        table.responsive-table td{
            display: block;
        }
        table.responsive-table tr{
            position: relative;
            margin-bottom: 1em;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
        }
        table.responsive-table td{
            border-top: none;
        }
        table.responsive-table td.organisationnumber{
            background: #D5E0CC;
            border-top: 1px solid #B3BFAA;
        }
        table.responsive-table td.actions{
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background: none;
        }
    }
    
    .btn{
     
        padding:5px!important;
        font-size: 15px!important;
        line-height: 0.8!important;
      
    }

    .route_page_title{
        color: #ffffff;
font-size: 18px;
text-transform: uppercase;

}

.data-table-content select{
           padding: 10px;
           background: transparent;
           border-radius: 10px;
           color: #fff;
           margin-right: 15px;
}

.data-table-content input{
           padding: 10px;
           background: transparent;
           border-radius: 10px;
           float: right;
           color: #fff;
}

.input-group input{
  margin: 10px;
}

.input-group textarea{
  margin: 10px;
}

.message-tittle{
  margin-left: 20px;
}


    </style>

    
    <label class="route_page_title">Select coach for Push Notification:</label>
    <div class="page">
       <div class="data-table-content">
           <select>
               <option class="select Title">rows</option>
               <option>10</option>
               <option>20</option>
               <option>50</option>
           </select>
           <select>
              <option class="select Title">coach Type</option>
              <option>Active</option>
              <option>Archived</option>
             
          </select>
          <select>
              <option class="select Title">Gender</option>
              <option>Male</option>
              <option>Female</option>
             
          </select>
           <input type="text" placeholder="search client" />
       </div>
       <table class="layout display responsive-table">
           <thead>
               <tr>
                  <th>Select All <input type="checkbox" /></th>
                   <th>Coach ID</th>
                   <th>Name</th>
                   <th>Assigned client</th>
                  
               </tr>
           </thead>
           <tbody>
       
               <tr>
                    <td><input type="checkbox" /></td>
                   <td class="organisationnumber">140406</td>
                   <td class="organisationname">Akil Sayyad</td>
                   <td class="organisationcoach">Rahul XYZ</td>
                  
               </tr>
       
               <tr>
                  <td><input type="checkbox" /></td>
                   <td class="organisationnumber">140412</td>
                   <td class="organisationname">Tushar Gadekar</td>
                   <td class="organisationcoach">Rahul XYZ</td>
                   
               </tr>
       
               <tr>
                  <td><input type="checkbox" /></td>
                   <td class="organisationnumber">140404</td>
                   <td class="organisationname">Ruchir Dargi</td>
                   <td class="organisationcoach">Rahul XYZ</td>
                   
               </tr>
       
               <tr>
                  <td><input type="checkbox" /></td>
                   <td class="organisationnumber">140408</td>
                   <td class="organisationname">Kaivalya Girme</td>
                   <td class="organisationcoach">Rahul XYZ</td>
                  
               </tr>
       
               <tr>
                  <td><input type="checkbox" /></td>
                   <td class="organisationnumber">140410</td>
                   <td class="organisationname">
                      Hardik Bhute
                   </td>
                   <td class="organisationcoach">Rahul XYZ</td>
                  
               </tr>
       
           </tbody>
       </table>

       

       </div>

       <br/>
       <nb-card>
          <nb-card-header>Send A New Push Message</nb-card-header>
          <nb-card-body>
            <div class="input-group">
              <input type="text" placeholder="Subject" class="form-control"/>
            </div>
            <label class="message-tittle">Type Message for all selected Coach</label>
            <div class="input-group">
              <textarea rows="5" placeholder="Message" class="form-control"></textarea>
            </div>
            <div class="input-group input-group-sm">
              <input type="text" placeholder="Templete link" class="form-control"/>
            </div>
            <button _ngcontent-c12="" _ngcontent-c10="" _ngcontent-c14="" _ngcontent-c21="" class="btn btn-hero-success btn-demo" style="
            /* margin-left: 65%; */
            padding: 5px;
            margin-top: 10px;
            float:  right;
            margin-right: 20px;
            ">Send</button>
          </nb-card-body>
        </nb-card>



       
    