<style>
.form-control{
   margin: 5px;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
}
.styled-checkbox:hover + label:before {
  background: #f35429;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #f35429;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}


.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 20px 0;
}

.centered {
  width: 300px;
  margin: auto;
}

.title {
  text-align: center;
  color: #4571ec;
}

.Medical-history table tr th{
 padding: 10px;
 border: 1px solid #655f5f;

}

.Medical-history table tr td{
 padding: 10px;
 border: 1px solid #655f5f;

}


.gender [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.gender [type="radio"]:checked + label,
.gender [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.gender [type="radio"]:checked + label:before,
.gender [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.gender [type="radio"]:checked + label:after,
.gender [type="radio"]:not(:checked) + label:after {
  content: '';
    width: 12px;
    height: 12px;
    background: #f35429;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.gender [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.gender [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.gender p{
  margin-right: 10px;
}

.gender{
  padding: 5px 20px;
    color: #ffffff;
    background-color: #37317a;
    border: 2px solid #342e73;
    font-family: Roboto;
    border-radius: 0.5rem;
    margin: 5px;
}

.other-details{

   padding: 0.75rem 1.125rem;
    color: #ffffff;
    background-color: #37317a;
    border: 2px solid #342e73;
    font-family: Roboto;
    border-radius: 0.5rem;
     margin: 10px;
}

.start-plan [type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
.start-plan [type="date"]::-webkit-inner-spin-button {
  display: none;
}
.start-plan [type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */

.start-plan input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}

</style>
<div class="row">
<nb-card>
  <nb-card-header>Add Client Details</nb-card-header>
  <nb-card-body>
    
    <div class="row full-name-inputs">
      <div class="col-sm-6 input-group">
        <input type="text" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-sm-6 input-group">
        <input type="text" placeholder="Last Name" class="form-control"/>
      </div>
    </div>
    <label>Address</label>
    <div class="input-group has-person-icon">
      <input type="text" placeholder="Address Line 1" class="form-control"/>
    </div>
    <div class="input-group has-person-icon">
      <input type="text" placeholder="Address Line 2" class="form-control"/>
    </div>
    <div class="input-group has-person-icon">
      <input type="text" placeholder="City" class="form-control"/>
    </div>
    <div class="row full-name-inputs">
      <div class="col-sm-6 input-group">
        <input type="text" placeholder="State" class="form-control"/>
      </div>
      <div class="col-sm-6 input-group">
        <input type="text" placeholder="Zip Code" class="form-control"/>
      </div>
    </div>
    <div class="input-group has-person-icon">
      <input type="text" placeholder="Country" class="form-control"/>
    </div>
    <div class="gender">
    <label>Gender</label>
         <div class="row">
            <form _ngcontent-c10="" novalidate="" class="ng-untouched ng-pristine ng-valid" style="
            display: inherit;margin-left: 5%;">
                <p>
                  <input type="radio" id="test1" name="radio-group" checked>
                  <label for="test1">Male</label>
                </p>
                <p>
                  <input type="radio" id="test2" name="radio-group">
                  <label for="test2">Female</label>
                </p>
                <p>
                  <input type="radio" id="test3" name="radio-group">
                  <label for="test3">Other</label>
                </p>
              </form> 
         </div>
   </div>

    <div class="row full-name-inputs">
      <div class="col-sm-6 input-group">
        <input type="text" placeholder="Phone" class="form-control"/>
      </div>
      <div class="col-sm-6 input-group">
        <input type="text" placeholder="Email" class="form-control"/>
      </div>
    </div>

    <div class="row full-name-inputs">
      <div class="col-sm-6 input-group">
        <input type="text" placeholder="Height" class="form-control"/>
      </div>
      <div class="col-sm-6 input-group">
        <input type="text" placeholder="Weight" class="form-control"/>
      </div>
    </div>

    <div class="row full-name-inputs">
      <div class="col-sm-6 input-group">
        <div class="other-details">
        <label>Food Preference</label> <br/>
            
<ul class="unstyled centered">
    <li>
      <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
      <label for="styled-checkbox-1">Veg</label>
    </li>
    <li>
      <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2" checked>
      <label for="styled-checkbox-2">Non-Veg</label>
    </li>
    <li>
      <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value3">
      <label for="styled-checkbox-3">Eggiterian</label>
    </li>
    <li>
      <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value4">
      <label for="styled-checkbox-4">Jain</label>
    </li>
  </ul>
</div>    
      </div>
      <div class="col-sm-6 input-group">
          <div class="other-details">
          <label>Activity Level</label>

          <ul class="unstyled centered">
              <li>
                <input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" value="value1">
                <label for="styled-checkbox-5">High</label>
              </li>
              <li>
                <input class="styled-checkbox" id="styled-checkbox-6" type="checkbox" value="value2" checked>
                <label for="styled-checkbox-6">Moderate</label>
              </li>
              <li>
                <input class="styled-checkbox" id="styled-checkbox-7" type="checkbox" value="value3">
                <label for="styled-checkbox-7">Low</label>
              </li>
              
            </ul>
            </div>
      </div>
    </div>
    <div class="row full-name-inputs">
        <div class="col-sm-6 input-group">

            <div class="other-details">

          <label>Body Type</label>

          <ul class="unstyled centered">
              <li>
                <input class="styled-checkbox" id="styled-checkbox-8" type="checkbox" value="value1">
                <label for="styled-checkbox-8">Lean</label>
              </li>
              <li>
                <input class="styled-checkbox" id="styled-checkbox-9" type="checkbox" value="value2" checked>
                <label for="styled-checkbox-9">Very Lean</label>
              </li>
              <li>
                <input class="styled-checkbox" id="styled-checkbox-10" type="checkbox" value="value3">
                <label for="styled-checkbox-10">Slightly Heavy</label>
              </li>
              <li>
                <input class="styled-checkbox" id="styled-checkbox-11" type="checkbox" value="value4">
                <label for="styled-checkbox-11">Obese</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 input-group">
            <div class="other-details">
            <label>Your Goal</label>

            <ul class="unstyled centered">
                <li>
                  <input class="styled-checkbox" id="styled-checkbox-12" type="checkbox" value="value1">
                  <label for="styled-checkbox-12">Lose Fat</label>
                </li>
                <li>
                  <input class="styled-checkbox" id="styled-checkbox-13" type="checkbox" value="value2" checked>
                  <label for="styled-checkbox-13">Gain Muscle</label>
                </li>
                <li>
                  <input class="styled-checkbox" id="styled-checkbox-14" type="checkbox" value="value3">
                  <label for="styled-checkbox-14">Maintain</label>
                </li>
                
              </ul>
              </div>
        </div>
      </div>
      <div class="Medical-history table-responsive other-details">
      <label>Medical History</label>
         <table class="table-boredered">
            <tr>
               <th></th>
               <th>Yes</th>
               <th>No</th>
               <th>Reason</th>
            </tr>
            <tr>
               <td>Past Illness</td>
               <td class="gender">
                  <p>
                      <input type="radio" id="Past-Illness-yes" name="Past-Illness" checked>
                      <label for="Past-Illness-yes"></label>
                    </p>
               </td>
               <td class="gender">
                  <p>
                      <input type="radio" id="Past-Illness-no" name="Past-Illness">
                      <label for="Past-Illness-no"></label>
                    </p>
               </td>
               <td><input type="text" placeholder="Enter Reason" /></td>
            </tr>
            <tr>
                <td>Medications</td>
                <td class="gender">
                    <p>
                        <input type="radio" id="Medications-yes" name="Medications" checked>
                        <label for="Medications-yes"></label>
                      </p>
                 </td>
                 <td class="gender">
                    <p>
                        <input type="radio" id="Medications-no" name="Medications">
                        <label for="Medications-no"></label>
                      </p>
                 </td>
                 <td><input type="text" placeholder="Enter Reason" /></td>
             </tr>
             <tr>
                <td>Food Allergies</td>
                <td class="gender">
                    <p>
                        <input type="radio" id="Food-yes" name="Food" checked>
                        <label for="Food-yes"></label>
                      </p>
                 </td>
                 <td class="gender">
                    <p>
                        <input type="radio" id="Food-no" name="Food">
                        <label for="Food-no"></label>
                      </p>
                 </td>
                 <td><input type="text" placeholder="Enter Reason" /></td>
             </tr>
             <tr>
                <td>Any Other issues</td>
                <td class="gender">
                    <p>
                        <input type="radio" id="Other-issues-yes" name="Other-issues" checked>
                        <label for="Other-issues-yes"></label>
                      </p>
                 </td>
                <td class="gender">
                    <p>
                        <input type="radio" id="Other-issues-no" name="Other-issues">
                        <label for="Other-issues-no"></label>
                      </p>
                 </td>
                 <td><input type="text" placeholder="Enter Reason" /></td> 
             </tr>
            

         </table>
        </div>
        <div class="form-group">
          <label>Select Coach</label>
          <select class="form-control">
            <option>Akil Sayyad</option>
            <option>Tushar</option>
            <option>Ruchir</option>
           
          </select>
        </div>

        <div class="row full-name-inputs">
            <div class="col-sm-6 input-group">
                <div class="other-details">
              <label>Choose Plan</label>
    
              <ul class="unstyled centered">
                  <li>
                    <input class="styled-checkbox" id="styled-checkbox-15" type="checkbox" value="value1">
                    <label for="styled-checkbox-15">4 Weeks ($100 USD)</label>
                  </li>
                  <li>
                    <input class="styled-checkbox" id="styled-checkbox-16" type="checkbox" value="value2" checked>
                    <label for="styled-checkbox-16">8 Weeks ($100 USD)</label>
                  </li>
                  <li>
                    <input class="styled-checkbox" id="styled-checkbox-17" type="checkbox" value="value3">
                    <label for="styled-checkbox-17">12 Weeks ($0 USD)</label>
                  </li>
                 
                </ul>
              </div>
            </div>
            <div class="col-sm-6 input-group">
                <div class="other-details start-plan">
                    <label>Start Date/Plan</label>
                    <input type="date" name="dateofbirth" id="dateofbirth">
                
                  </div>
            </div>
          </div>

          <button _ngcontent-c12="" _ngcontent-c10="" _ngcontent-c14="" _ngcontent-c21="" class="btn btn-hero-success btn-demo" style="
    /* margin-left: 65%; */
    padding: 5px;
    margin-top: 10px;
    float:  right;
    margin-right: 20px;
    ">Submit</button>

  </nb-card-body>
</nb-card>
</div>
