<style>

  .container{
    width: 800px;
    margin: 0 auto;
  }

  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul.tabs li{
    background: none;
    color: #b9b1b1;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  ul.tabs li.current{
    background: #01d99c;
    color: #FFF;
  }

  .tab-content{
    display: none;
    background: #231f1f;
    padding: 80px;
  }

  .tab-content.current{
    display: inherit;
  }
</style>

<div class="container">

<ul class="tabs">
  <li class="tab-link current" data-tab="tab-1">Account Transfer</li>
  <li class="tab-link" data-tab="tab-2">Direct Cash</li>

</ul>

<div id="tab-1" class="tab-content current">
     <label>Total Amount:1500000</label>
       <label>Transaction Details</label>
     
</div>
<div id="tab-2" class="tab-content">
  <label>Total Amount: 10000000</label>
  <label>Transaction Details</label>
</div>


</div><!-- container -->


