<style>


    .page{
        max-width: 65em;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid white;
    }
    table th,
    table td{
      text-align: left;
    }
    table.layout{
      width: 100%;
      border-collapse: collapse;
    }
    table.display{
      margin: 1em 0;
    }
    table.display th,
    table.display td{
      border: 1px solid #B3BFAA;
      padding: .5em 1em;
    }
    
    table.display th{ background: #D5E0CC; }
    table.display td{ background: #fff; }
    
    table.responsive-table{
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    .layout{
        min-height: 50vh!important;
    }
    
    @media (max-width: 30em){
        table.responsive-table{
          box-shadow: none;  
        }
        table.responsive-table thead{
          display: none; 
        }
      table.display th,
      table.display td{
        padding: .5em;
      }
        
      table.responsive-table td:nth-child(1):before{
        content: 'Number';
      }
      table.responsive-table td:nth-child(2):before{
        content: 'Name';
      }
      table.responsive-table td:nth-child(3):before{
        content: 'Coach';
      }
      table.responsive-table td:nth-child(1),
      table.responsive-table td:nth-child(2),
      table.responsive-table td:nth-child(3)
      {
        padding-left: 25%;
      }
      table.responsive-table td:nth-child(1):before,
      table.responsive-table td:nth-child(2):before,
      table.responsive-table td:nth-child(3):before
      {
        position: absolute;
        left: .5em;
        font-weight: bold;
      }
      
        table.responsive-table tr,
        table.responsive-table td{
            display: block;
        }
        table.responsive-table tr{
            position: relative;
            margin-bottom: 1em;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
        }
        table.responsive-table td{
            border-top: none;
        }
        table.responsive-table td.organisationnumber{
            background: #D5E0CC;
            border-top: 1px solid #B3BFAA;
        }
        table.responsive-table td.actions{
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background: none;
        }
    }
    
    .btn{
     
        padding:5px!important;
        font-size: 15px!important;
        line-height: 0.8!important;
      
    }

    .route_page_title{
      color: white;
    font-size: 18px;
    text-transform: uppercase;
   
    }

    .data-table-content select{
               padding: 10px;
               background: transparent;
               border-radius: 10px;
               color: #fff;
    }

    .data-table-content input{
               padding: 10px;
               background: transparent;
               border-radius: 10px;
               float: right;
               color: #fff;
    }

    [data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
[data-pagination] {
  font-size: 8pt;
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  transition: font-size .2s ease-in-out;
}
[data-pagination] ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: .5em;
}
[data-pagination] ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
}
[data-pagination] > a {
  font-size: 140%;
}
[data-pagination] a {
  color: #777;
  font-size: 100%;
  padding: .5em;
}
[data-pagination] a:focus,
[data-pagination] a:hover {
  color: #f60;
}
[data-pagination] li.current {
  background: rgba(0,0,0,.1)
}
/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
  opacity: .5;
  pointer-events: none;
}
@media (min-width: 350px) {
  [data-pagination] {
    font-size: 10pt;
  }
}
@media (min-width: 500px) {
  [data-pagination] {
    font-size: 12pt;
  }
}
@media (min-width: 700px) {
  [data-pagination] {
    font-size: 14pt;
  }
}
@media (min-width: 900px) {
  [data-pagination] {
    font-size: 16pt;
  }
}
    </style>
    
    <label class="route_page_title">All Coach List:</label>
    <div class="page">

            <div class="data-table-content">
                    <select>
                        <option class="select Title">Number of rows</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                    </select>
                    <input type="text" placeholder="search coach" />
                </div>
       
       <table class="layout display responsive-table">
           <thead>
               <tr>
                   <th>Coach ID</th>
                   <th>Name</th>
                   <th>Assigned Clients</th>
                   <th>Actions</th>
               </tr>
           </thead>
           <tbody>
       
               <tr>
                   <td class="organisationnumber">140406</td>
                   <td class="organisationname">Akil Sayyad</td>
                   <td class="organisationcoach">Rahul XYZ</td>
                   <td class="actions">
                        <a href="?" class="btn btn-info btn-xs remove-item" title="Remove">Info</a>
                       <a href="?" class="btn btn-danger btn-xs remove-item" title="Remove">Delete</a>
                       
                   </td>
               </tr>
       
               <tr>
                   <td class="organisationnumber">140412</td>
                   <td class="organisationname">Tushar Gadekar</td>
                   <td class="organisationcoach">Rahul XYZ</td>
                   <td class="actions">
                        <a href="?" class="btn btn-info btn-xs remove-item" title="Remove">Info</a>
                       <a href="?" class="btn btn-danger btn-xs remove-item" title="Remove">Delete</a>
                   </td>
               </tr>
       
               <tr>
                   <td class="organisationnumber">140404</td>
                   <td class="organisationname">Ruchir Dargi</td>
                   <td class="organisationcoach">Rahul XYZ</td>
                   <td class="actions">
                        <a href="?" class="btn btn-info btn-xs remove-item" title="Remove">Info</a>
                        <a href="?" class="btn btn-danger btn-xs remove-item" title="Remove">Delete</a>
                   </td>
               </tr>
       
               <tr>
                   <td class="organisationnumber">140408</td>
                   <td class="organisationname">Kaivalya Girme</td>
                   <td class="organisationcoach">Rahul XYZ</td>
                   <td class="actions">
                        <a href="?" class="btn btn-info btn-xs remove-item" title="Remove">Info</a>
                        <a href="?" class="btn btn-danger btn-xs remove-item" title="Remove">Delete</a>
                   </td>
               </tr>
       
               <tr>
                   <td class="organisationnumber">140410</td>
                   <td class="organisationname">
                      Hardik Bhute
                   </td>
                   <td class="organisationcoach">Rahul XYZ</td>
                   <td class="actions">
                        <a href="?" class="btn btn-info btn-xs remove-item" title="Remove">Info</a>
                       <a href="?" class="btn btn-danger btn-xs remove-item" title="Remove">Delete</a>
                   </td>
               </tr>
       
           </tbody>
       </table>

       <nav data-pagination>
            <a href=# disabled><i class=ion-chevron-left></i></a>
            <ul>
              <li class=current><a href=#1>1</a>
              <li><a href=#2>2</a>
              <li><a href=#3>3</a>
              <li><a href=#4>4</a>
              <li><a href=#5>5</a>
              <li><a href=#6>6</a>
              <li><a href=#7>7</a>
              <li><a href=#8>8</a>
              <li><a href=#9>9</a>
              <li><a href=#10>…</a>
              <li><a href=#41>41</a>
            </ul>
            <a href=#2><i class=ion-chevron-right></i></a>
          </nav>
       </div>
    